/* TODAS LAS PAGINAS */
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header {
    height: 20%;
    padding: 0 5%;
    background-color: #1d1c1c;
}

.productosIndex, .novedadesIndex, footer {
    padding: 0 5%;
}

body {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: #747474;
}

h2,h3,h4,h5 {
    text-align: center;
    padding: 25px 0;
}

section.novedadesIndex {
    margin: 34px 0;
}

section.productosIndex {
    margin: 24px 0;
}

.productosIndex {
    display: flex;
    flex-direction: column;

}

.productosIndex .productosItem {
    flex: 1 1;
}

.productosIndex .productosItem img{
    /* width: 60%; */
    width:auto;
    /* max-height: 60%; */
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}


p {
    background-color: #525252;
    padding: 20px;
    color: #cccccc;
    font-family: 'Nunito', sans-serif;
}

body header .navBar {
    background-color: #1d1c1c;
    height: 105px;
}

header .navBar {
    padding: 0%;
    size: 100%;
    top: 0;
    display: flex;
    justify-content:space-between;
    align-items:center;
}

.navBar a {
    color: #be313a;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
}

.navBar li {
   display: inline-block;
}

.navBar a .logo {
    font-size: 40px;
    font-weight: bold;
}

header .navBar .menu {
    flex-direction: row;
}

.navBar .menu {
    display: flex;
    color: #cccccc;
    padding: 2px;
    display: block;
    font-size: 17px;
    font-weight: normal;
}

.navBar a:hover {
    background-color: rgb(71, 3, 3);
    color: rgb(184, 184, 184);
}

.navBar .menu .actual {
    background-color: #be313a;
    color: black;
}

.menu {
    float: right;
}



main .productosIndex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer {
    display: flex;
    justify-content: space-between;
    position: absolute;
    align-items: center;
    height: 34px;
    width: 100%;
    background-color: #313131;
    gap: 100px;
}


.footerRight {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footerRight a {
    flex: 1 1;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 10px;
}

.footerRight a img {
    width: 100%;
}


/* Pagina Contacto*/

form {
    border: 1px solid black;
    background-color: rgb(211, 208, 208);
    font-family: 'Nunito', sans-serif;
}

form div {
    padding: 4px;
    ;
}

form input {
    padding: 2px;
}

.boton {
    background-color: #1d1c1c;
    color: #cccccc;
}

.boton:hover {
    background-color: #be313a;
}


#portada {
    width: 100%;
    height: 895px;

}

/* Pagina Nosotros*/

iframe {
    width: 800px;
    height: 600px;
    border: 2px solid red;
}

/* Galeria de images*/

.main_container {
    background-color: #3b3b3b;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 18px 22px;
    grid-auto-flow: row;
    grid-template-areas:
        "cards cards cards"
        "cards cards cards";
    grid-area:main_container;

}

.cards {
    background-color: black;
    color: white;
    display:grid;
    /* grid-template-rows: 0.5fr 2fr 0.5fr; */
    grid-auto-columns: 1fr;
    gap: 6px 0px;
    grid-auto-flow: row;
    grid-area: cards;

}

.cards img {
    width:80%;
    height: auto;
    
}

.desc {
    padding: 0px;
    text-align: center;
}

@media screen and (max-width: 768px) {

    #portada {
        width: 100%;
        height: auto;
    }

    header .navBar {
         flex-direction: column;
    }

    .navBar a {
        font-size: 14px;
    }

    .productosIndex .productosItem {
        text-align: center;
    }

    main .productosIndex {
        flex-direction: column;

    }
    .footerLeft h5 {
        font-size: 10px;
    }
}